<section class="album-covers container clearfix">
     <div class="collection-album-container column fourth" ng-repeat="thing in collection.albums">
         <img src="{{thing.albumArtUrl}}">
         <div class="collection-album-info caption">
             <p>
                 <a class="album-name" ui-sref="album">{{thing.title}}</a>
                 <br/>
                 <a ui-sref="album">{{thing.artist}}</a>
                 <br/>
                 {{thing.songs.length}} songs
                 <br/>
             </p>
         </div>
     </div>
 </section>
 
 <ng-include src="'/templates/player-bar.html'"></ng-include>
 